@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    width: 100%
  }

  .table-wrapper {
    max-height: 70%; /* Defina a altura máxima conforme necessário */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
  }
  
.hora{
  font-size: 4rem;
  margin-top: 7%;
  font-weight: 600;
  margin-left: 23%;
  width: 100%;
}
.rec{
  font-size: 4rem;
  font-weight: 600;
  margin-left: 33%;
  width: 100%;
  margin-bottom: 2%;
}
  .support-table {
    width: 90%;
    border-collapse: collapse;
    overflow-x: auto;
  }
  
  .support-table th,
  .support-table td {
    border: 1px solid black;
    padding: 8px;
    color: black;
    justify-content: center;
    text-align:center;
  }
  
  .support-table th {
    background-color: #6200ea;
    text-align: left;
    color: white;
    justify-content: center;
    text-align:center;
  }
  
  .reclamacao-details {
    padding: 10px;
    background-color: white;
    color: black;
  }
  
  .seta{
    border: black 1px solid;
    color: black;
    background-color: white;
  }