.sidebar {
    width: 32%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    overflow-x: auto;
    border-right: 3px solid #2f3336;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-left: 6%;
    margin-top: 5px;
  }
  h2{
    background-color: black;
    font-size: 30px;
    margin-left: 40px;
  }
  .logo img {
    width: 60px;
  }
 
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-left: 5%;
    background-color: black;
  }

  
  .sidebar ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 27px;
    margin-top: 34px;
    width: 120%;
    background-color: black;
  }
  .sidebar ul li:hover {
    display: flex;
    align-items: center;
    font-size: 27px;
    transform: translateY(-10px);
    transition: all ease 0.2s;
    cursor: pointer;
  }


  .sidebar ul li i {
    margin-right: 8%;
  }
  img{
 width: 60px;
 border-radius: 25%;
  }
  
  a{
    color: white;
    font-style: none;
    text-decoration: none;
  }


  .button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
    justify-content: center;
    margin-top: 2%;
    margin-left: 80%;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .button-span {
    color: black;
    background-color: white;
  }
  
  .custom-link {
    color: black; /* ou qualquer cor que preferir */
    text-decoration: none; /* para remover o sublinhado, se desejar */
  }

  .custom-button {
    color: white; /* ou qualquer cor que preferir */
    text-decoration: none; /* para remover o sublinhado, se desejar */
  }
  .custom-link {
    color: black; /* ou qualquer cor que preferir */
    text-decoration: none; /* para remover o sublinhado, se desejar */
    background-color: white;
  }

