.reservations-container {
    text-align: center;
    padding: 20px;
    width: 147vh;
  }
  
  .tabs {
    display: flex;
    margin-left: 6%;
    margin-bottom: 20px;
    margin-top: 1%;
  }
  
  .tabs button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .tabs button.active {
    background-color: white;
    color: black;
  }
  
  .table-container{
    max-height: 53%; 
    overflow-y: auto; 
    overflow-x: auto; 
    margin-top: 20px;
  }

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: white; 
    z-index: 1; 
  }

  table { margin-left: 6%;
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto; 
  }
  
  table th {
    padding: 10px;
    border: 2px solid black;
    text-align: left;
    background-color: #00B9AE;
    color: white;
    justify-content: center;
    text-align:center;
  }
  table td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
    background-color: white;
    color: black;
    justify-content: center;
    text-align:center;
  }
  
  .pagination {
    margin-top: 23px;
  }
  
  .pagination button {
    padding: 10px;
    margin: 0 5px;
    border: none;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
  }
  .pagination button.active {
    background-color: white;
    color: black;
  }
  
  .Reservas{
    font-size: 4rem;
    font-weight: 600;
    margin-right: 57%;
    width: 100%;
  }
  .analisar{
    font-size: 4rem;
    font-weight: 600;
    margin-top: 5%;
    margin-right:19%;
    width: 100%;
  }

  
  .aprovar{background-color: white;
    border: 2px solid black;
    color: black;
    margin-left: 5%;}

.recusar{background-color: white;
    border: 2px solid black;
    color: black;
margin-left: 5%;}


.search-container {
    display: flex;
    margin-left: 5%;
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .search-input1 {
    width: 30%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: white;
    margin-right: 1%;
  }
  .search-input2 {
    width: 8%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: white;
    margin-right: 1%;
  }
  .search-input3 {
    width: 17%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: white;
    margin-right: 1%;
  }
  .search-input4 {
    width: 22%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: white;
    margin-right: 1%;
  }
  .search-input5 {
    width: 12%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: white;
    margin-right: 1%;
  }
  .search-input6 {
    width: 17%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: white;margin-right: 1%;
  }
  
  .search-input::placeholder {
    color: #888;
  }
  